body{
    background-color: rgb(238, 238, 238);
    
}
.row{
    margin: auto;
}


.month-year{
    display: inline-block;
}

.promotion{
    display: flex;
}
.card-type{
    display: flex;
}
.intput-detail{
    display: flex;
    
}

.remind{
    display: flex;
    background-color: #e9f5f4;
    border-width: 1px;
    border-style:solid;
    border-color: #195a5a;
    color: #195a5a;
    padding: 20px 25px 20px 28px;
    margin: 0 0 30px 0 ;
}
.fas{
    padding: 0 20px 0  0 ;
   font-size: 30px;
}
.remindtitle{
    font-size: 15px;
}

.books{
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);

    display: flex;
}
.book{
    width: 12%;
}
.books img{
    width: 100%;
}
.book-title{
    width: 88%;
}
.allprice{
    display: flex;
}

/* 樣式 */
.section-title{
    margin: 25px 0 25px;
    padding: 10px 0 10px;
    font-size: 19px;
}
.section-subtitle{
    padding: 0 0 21px;
}
.intput-detailtop{
    margin: 0 0 14px;
    font-size: 14px;
}
.text{
    width: 100%;
    margin: 0 0 21px;
    padding: 0 0 17px;
}
.country-select{
    width: 100%;
    margin: 0 0 21px;
    padding: 0 0 17px;
}
.primary-link{
    border: none;
    background-color: white;
    text-decoration:underline;
}
.enter-card{
    background-color: white;
    padding: 19px;
}
.name{
    width: 100%;
    margin: 0 0 21px;
    padding: 0 0 17px;
}
.promotion{
    padding: 12px;
    background-color: white;
    margin: 0 0 21px;
}
.promotion h3{
    margin: 3px 20px 0;
}

.cardnumberaaa{
    
    
    margin-right: 15px;
    width: 70%;
}
.cardnumberbbb{
    width: 30%;
}
.cardnumber{
    padding: 0 0 17px;
}
.safenumber{
    padding: 0 0 17px;
}
.number{
    margin: 0 0 21px;
    padding: 0 0 17px;
    width: 100%;
}
.safe{
    margin: 0 0 21px;
    padding: 0 0 17px;
    width: 100%;
}
.icard{
    margin: 0 0 14px;
}
li{
    width: 6%;
}
.cardname{
    margin: 0 0 14px;
}
.time{
    margin: 0 0 14px;
}
.untime{
    margin: 0 0 14px;

}
.untimetext{
    margin: 0 0 14px;
}
.save{
    padding:19px 0 ;
}
.savebtn{
    background-color: rgb(226, 15, 15);
    padding: 7px 80px ;
    color: white;
    border: none;
}

.remove{
    border: none;
    background-color: white;
    text-decoration:underline;
}
.usepoint{
    border: none;
    background-color: white;
    text-decoration:underline;
}
.price-totals{
    background-color: white;
}
.books{
  padding: 20px 25px;  
}
.book-title{
    font-size: 16px;
    font-weight: 700;
   padding-left: 30px; 
}
.writer{
    padding:9px 0 15px 0 ; 
    font-size: 10px;
    font-weight: 0;
    color: gray;
}
.remove{
    font-size: 13px;
}
.book-price{
    font-size: 25px;
    font-weight: 700;
}
.allprice{
    font-size: 20px;
    font-weight: 700;
    padding:15px ;
}
.points{
    padding:15px ;
}
.pointtitle{
    font-size: 20px;
    padding: 0 0 17px;
}
.point{
padding: 0 0 10px;
}
.upoint{
padding: 0 0 10px;
}
.usepoint{
    padding: 0 0 10px;
}
.getpoint{
    padding:15px 0 ;
    color: red;
}
