
.row{
   
    margin: auto;
}
.payment_profile{
    

    background-color: crimson;
}
.payment_order{
    
    background-color: darkcyan;
}
.month-year{
    display: inline-block;
}

.promotion{
    display: flex;
}
.card-type{
    display: flex;
}
.intput-detail{
    display: flex;
    
}
.cardnumbersf{
   width: 70%;
}
.cardnumberss{
    width: 30%;
}
.remind{
    display: flex;
    background-color: cornflowerblue;
    border-width: 2px;
    border-style:solid;
    border-color: rgb(37, 37, 44);
}

.books{
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(37, 37, 44);

    display: flex;
}
.book{
    width: 12%;
}
.books img{
    width: 100%;
}
.book-title{
    width: 88%;
}
.allprice{
    display: flex;
}

